@charset "utf-8";
.main_r{height: 850px}
.history_pic{width: 232px;height: 395px;float: left;margin-top: 28px}
.company_list{width: 425px;height: 625px;float: left;}
.company_list h2{width: 110px;height:145px;float: left;font-size: 46px;color: #7c91b8;}
.company_list ul{width: 215px;height: 150px;margin-left: 38px;float: left;}
.company_list li{list-style: disc;font-size: 12px;height: 25px}
.company_list_container{margin-top: 28px;;width: 425px;height: 145px;border-bottom: 1px dashed #989898;margin-left: 35px;}


.banner{position: relative;overflow: hidden}
.banner img{position: absolute;z-index: 1}
div.pic_info{width: 100%;position: absolute;background: #000000;opacity: 0.3;bottom:15px;color: white;display: block;z-index: 1}
.pic_num ul{position: absolute;z-index: 2;bottom: 15px;left: 450px;}
.pic_num li{float: left;cursor: pointer;margin-left: 10px;}



