@charset "utf-8";
@import "common.css";
.m_r_header span{color: #989898;font-size: 14px}
.main_r{height: 960px}

#btn_l{width: 50px;height:50px;position: absolute;top: 50%;left: 5%}
#btn_r{width: 50px;height:50px;position: absolute;top: 50%;right: 5%}
/*banner*/

.zoom_pic{width: 100%;height: 100%;display: none;position: fixed;z-index: 99;background: black;top: 0px;opacity: 0.2;}
.zoom_pic_container {width: 400px;height: 400px;position: relative;z-index: 999;background: white;}
.zoom_pic img{position: absolute;;left: 35%;top: 20%;}
.zoom_pic .close{width: 20px;height: 20px;position: absolute;right: 0px}
.zoom_pic .close img{width: 20px;height: 20px}
/*产品详细面*/
.product_detail{width: 680px;height: 280px;margin-top: 30px}
.product_d_pic{width: 400px;height: 280px;float: left;overflow: hidden}
.product_message{float: left;width: 280px;height: 280px}
.product_meaages_title{width: 240px;height:40px;line-height: 40px;margin-left: 30px;border-bottom: 1px dashed #e8e8e8}
.product_meaages_title b{width: 75px;font-size:12px;display: inline-block }
.product_meaages_title span{font-size:12px;}
.product_more{width: 280px;height: 80px;border-bottom: 1px dashed #e8e8e8;}
.product_more b{width: 75px;font-size:12px;display: inline-block ;height:40px;line-height: 40px;margin-left: 30px;float: left}
.product_more_detail{width: 175px;height: 80px;float: left;margin-top: 15px}
.product_more_detail p{font-size: 12px;height: 20px;line-height: 20px}
.product_m_pic {margin-top: 15px;margin-left: 25px;width: 260px;height: 64px}
.product_m_pic li{margin-left: 5px;float: left;width: 78px;height: 60px;overflow: hidden;border: 1px solid #e8e8e8}
/*轮播广告*/
.adver{border: 1px solid #ECECEC;width: 700px;height: 120px;-webkit-border-radius: 10px;border-radius: 10px;position: relative;margin-top: 30px;}
.pic_view ul a {text-decoration: none;color: black}
.pic_view{width: 620px;height: 120px;margin-left: 40px;overflow: hidden;position: relative}
.pic_view ul{width: 1240px;position: absolute}
.pic_view li{float: left;width: 154px;margin-top: 15px;text-align: center;}
.selected{outline: 1px solid #ececec}
.adver_pic{display: block;width: 80px;height: 70px;margin: 0px auto}
.left_arrow1{position: absolute;top: 30px;cursor:pointer;z-index: 10}
.right_arrow1{position: absolute;top: 30px;right:0px;cursor:pointer;z-index: 10}

/*产品特点*/
.product_feature_nav{width: 685px;height: 28px;background: url("../images/bigbar.png") no-repeat;position: relative;}
.product_feature_nav ul{position: absolute;}
.product_feature_nav li{;float: left;width: 110px;height: 28px;line-height: 28px;margin-left: 18px;z-index: 1}
.p_f_selected{width: 92px;height:20px;background: url("../images/whitebar_38.png") no-repeat left center;position: absolute;top:3px;left: 0px;z-index: 0;opacity: 0.5;margin-left: 18px}
.product_feature_nav li b{margin-left: 18px;cursor: pointer}

.product_feature{margin-top: 30px}
.product_feature{width: 680px;height: 360px}
.product_list li{width: 678px;height:122px;border-bottom: 1px dashed #e8e8e8}
.product_list_pic{float: left;width: 148px;height: 122px}
.product_list_detail{float: left;width: 520px;height: 122px}
.product_list_detail h5{font-size: 18px;color: blue;margin-top: 38px}
.product_list_detail p{font-size: 12px;height: 15px;line-height: 15px;margin-top: 15px}